Makefile
Makefile.PL
.deps
.libs
*.o
*.lo
*.la

config.guess
config.sub
config.h
config.log
config.status
config.xml
libtool
stamp-h1
stamp-h2
build-arch-stamp
build-indep-stamp

doc/html/configurator.easy.html
doc/html/configurator.html
doc/man/man?/*.html
doc/html/*.html

etc/init.d.slurm
etc/init.d.slurmdbd

contribs/phpext/slurm_php/config.m4
contribs/cray/opt_modulefiles_slurm

slurm/slurm.h

src/api/pmi_version.map
src/api/version.map
src/common/global_defaults.c
src/plugins/checkpoint/blcr/cr_checkpoint.sh
src/plugins/checkpoint/blcr/cr_restart.sh
src/db_api/version.map
src/plugins/acct_gather_profile/hdf5/sh5util/sh5util

src/sacct/sacct
src/sacctmgr/sacctmgr
src/salloc/salloc
src/sattach/sattach
src/sbatch/sbatch
src/sbcast/sbcast
src/scancel/scancel
src/scontrol/scontrol
src/sdiag/sdiag
src/sinfo/sinfo
src/slurmctld/slurmctld
src/slurmd/slurmd/slurmd
src/slurmd/slurmstepd/slurmstepd
src/slurmdbd/slurmdbd
src/smap/smap
src/sprio/sprio
src/squeue/squeue
src/sreport/sreport
src/srun/srun
src/sshare/sshare
src/sstat/sstat
src/strigger/strigger
src/sview/sview

contribs/perlapi/libslurm/perl/MYMETA.yml
contribs/perlapi/libslurm/perl/Slurm.bs
contribs/perlapi/libslurm/perl/Slurm.c
contribs/perlapi/libslurm/perl/blib/
contribs/perlapi/libslurm/perl/pm_to_blib
contribs/perlapi/libslurmdb/perl/MYMETA.yml
contribs/perlapi/libslurmdb/perl/Slurmdb.bs
contribs/perlapi/libslurmdb/perl/Slurmdb.c
contribs/perlapi/libslurmdb/perl/blib/
contribs/perlapi/libslurmdb/perl/const-c.inc
contribs/perlapi/libslurmdb/perl/const-xs.inc
contribs/perlapi/libslurmdb/perl/pm_to_blib

debian/files
debian/libpam-slurm.debhelper.log
debian/libpam-slurm.substvars
debian/libpam-slurm/
debian/libpmi0-dev.debhelper.log
debian/libpmi0-dev.substvars
debian/libpmi0-dev/
debian/libpmi0.debhelper.log
debian/libpmi0.postinst.debhelper
debian/libpmi0.postrm.debhelper
debian/libpmi0.substvars
debian/libpmi0/
debian/libslurm-dev.debhelper.log
debian/libslurm-dev.substvars
debian/libslurm-dev/
debian/libslurm-perl.debhelper.log
debian/libslurm-perl.substvars
debian/libslurm-perl/
debian/libslurm26.debhelper.log
debian/libslurm26.postinst.debhelper
debian/libslurm26.postrm.debhelper
debian/libslurm26.substvars
debian/libslurm26/
debian/libslurmdb-dev.debhelper.log
debian/libslurmdb-dev.substvars
debian/libslurmdb-dev/
debian/libslurmdb-perl.debhelper.log
debian/libslurmdb-perl.substvars
debian/libslurmdb-perl/
debian/libslurmdb26.debhelper.log
debian/libslurmdb26.postinst.debhelper
debian/libslurmdb26.postrm.debhelper
debian/libslurmdb26.substvars
debian/libslurmdb26/
debian/slurm-llnl-basic-plugins-dev.debhelper.log
debian/slurm-llnl-basic-plugins-dev.substvars
debian/slurm-llnl-basic-plugins-dev/
debian/slurm-llnl-basic-plugins.debhelper.log
debian/slurm-llnl-basic-plugins.substvars
debian/slurm-llnl-basic-plugins/
debian/slurm-llnl-doc.debhelper.log
debian/slurm-llnl-doc.substvars
debian/slurm-llnl-doc/
debian/slurm-llnl-slurmdbd.debhelper.log
debian/slurm-llnl-slurmdbd.postinst.debhelper
debian/slurm-llnl-slurmdbd.postrm.debhelper
debian/slurm-llnl-slurmdbd.prerm.debhelper
debian/slurm-llnl-slurmdbd.substvars
debian/slurm-llnl-slurmdbd/
debian/slurm-llnl-sview.debhelper.log
debian/slurm-llnl-sview.substvars
debian/slurm-llnl-sview/
debian/slurm-llnl-torque.debhelper.log
debian/slurm-llnl-torque.substvars
debian/slurm-llnl-torque/
debian/slurm-llnl.debhelper.log
debian/slurm-llnl.postinst.debhelper
debian/slurm-llnl.postrm.debhelper
debian/slurm-llnl.prerm.debhelper
debian/slurm-llnl.substvars
debian/slurm-llnl/


