Makefile
Makefile.PL
.deps
.libs
*.o
*.lo
*.la

config.guess
config.sub
config.h
config.log
config.status
config.xml
libtool
stamp-h1
stamp-h2

doc/html/configurator.easy.html
doc/html/configurator.html
doc/man/man?/*.html
doc/html/*.html

etc/init.d.slurm
etc/init.d.slurmdbd

contribs/phpext/slurm_php/config.m4
contribs/cray/opt_modulefiles_slurm

slurm/slurm.h

src/api/pmi_version.map
src/api/version.map
src/common/global_defaults.c
src/plugins/checkpoint/blcr/cr_checkpoint.sh
src/plugins/checkpoint/blcr/cr_restart.sh
src/db_api/version.map
src/plugins/acct_gather_profile/hdf5/sh5util/sh5util

src/sacct/sacct
src/sacctmgr/sacctmgr
src/salloc/salloc
src/sattach/sattach
src/sbatch/sbatch
src/sbcast/sbcast
src/scancel/scancel
src/scontrol/scontrol
src/sdiag/sdiag
src/sinfo/sinfo
src/slurmctld/slurmctld
src/slurmd/slurmd/slurmd
src/slurmd/slurmstepd/slurmstepd
src/slurmdbd/slurmdbd
src/smap/smap
src/sprio/sprio
src/squeue/squeue
src/sreport/sreport
src/srun/srun
src/sshare/sshare
src/sstat/sstat
src/strigger/strigger
src/sview/sview
